@use "../../../presets" as *;
@use "../../../mixins" as *;

.team-header {
  position: relative;

  &__grid {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    display: grid;

    @extend %container;

    gap: $gap;
    grid-template-columns: auto 1fr;
    @include md-min {
      padding-top: 50px;

      grid-template-areas: "teamlogo teamactions" "teamlogo teammenu";
    }
    @include md {
      padding-top: $gap;

      grid-template-areas: "teamactions teamactions" "teamlogo teammenu";
    }
  }

  &__logo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    grid-area: teamlogo;

    @include md {
      height: 22px;
      align-items: flex-start;
      justify-content: center;
    }

    &-image,
    &-slash,
    &-slashp {

      object-fit: contain;
    }
   &-image {
    @include md {
      
    height: 31px;
    width: auto;
    }
   }

   &-slash,
   &-slashp {
    @include md {
      height: 24px;
    }
   }
  }

  &__menu {
    grid-area: teammenu;
  }

  &__actions {
    grid-area: teamactions;
  }

  &__title {
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;

    color: #323264;

    @include md {
      font-size: 19px;
      line-height: 22px;
    }
  }
}

