@use "../../../presets" as *;
@use "../../../mixins" as *;

.team-actions {
  display: flex;
  align-items: center;

  gap: 25px;
  @include sm-min {
    justify-content: flex-end;
  }
  @include sm {
    justify-content: space-between;
  }

  &__languages {
    display: flex;

    letter-spacing: 1px;

    font-size: 12px;
    font-weight: 700;

    gap: 2px;
  }

  &__language-link {
    display: block;

    padding: 6px 6px 5px 7px;

    border-radius: 8px;
    &.active {
      color: #ffffff;
      background-color: $color-accent;
    }
  }
  &__locations {
    @include sm {
      display: none;
    }
  }

  &__phone-url {
    white-space: nowrap;

    font-weight: 700;
  }

  &__socials {
    @include sm {
      display: none;
    }
  }
}

.team-actions__locations-url {
  text-align: right;

  color: #b3b3ba;

  font-size: 16px;
  line-height: 19px;
}

.team-actions__phone-url {
  text-align: right;

  color: #b3b3ba;

  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.team-actions__language-link {
  text-align: center;
  letter-spacing: 1px;

  color: #b3b3ba;

  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

