@use "../../../presets" as *;
@use "../../../mixins" as *;

.page-footer {
  background-color: #f5f5fa;

  &__container {
    @extend %container;
  }

  &__content {
    display: flex;

    padding-top: 32px;
    padding-bottom: 50px;

    @include sm-min {
      justify-content: space-between;
    }
    @include sm {
      align-items: center;
      flex-direction: column;
      justify-content: center;

      padding-top: 10px;
      padding-bottom: 100px;
    }

    &-navbar {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      column-gap: 10px;
      @include sm-min {
        flex-basis: 450px;
      }
      @include md {
        align-items: flex-start;
        flex-direction: column;

        padding-top: 15px;

        row-gap: 10px;
      }
      @include sm {
        align-items: center;
      }
      row-gap: 22px;
    }

    &-adress {
      color: #323264;

      font-size: 16px;
      font-weight: 500;
      line-height: 19px;

      @include sm-min {
        padding-right: 30px;
      }
    }

    &-link {
      letter-spacing: 1px;
      text-transform: uppercase;

      color: #24a3ff;

      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
    }
    &-social {
      @include sm {
        padding: 10px;
      }
    }
    &-phone {
      text-align: right;

      color: #46466e;

      font-size: 16px;
      font-weight: 700;
      line-height: 19px;

      @include sm {
        margin-top: -10px;
      }
    }

    &-email {
      color: #24a3ff;

      font-size: 16px;
      font-weight: 700;
      line-height: 19px;

      @include sm {
        padding-bottom: 20px;
      }
    }

    &-copyright {
      text-align: right;

      color: #b3b3ba;

      font-size: 16px;
      font-weight: 500;
      line-height: 19px;

      @include sm {
        max-width: 300px;
        margin: auto 40px;

        text-align: center;
      }
    }
  }
}

.separator {
  width: 100%;
  height: 4px;

  background-color: #e6e6f0;
}

