@use "../../../presets" as *;
@use "../../../mixins" as *;

$size: 16px;

.slider {
  display: flex;

  @include md-min {
    gap: 80px;
  }
  @include md {
    flex-direction: column;
  }
  &__headers {
    position: relative;
    flex-grow: 2;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    gap: $gap;
    @include md-min {
      &::after {
        content: "";
        position: absolute;
        width: 4px;
        height: 100%;
        background-color: $color-grey-separator;
        right: -42px;
      }
    }
  }

  &__header {
    position: relative;
    color: $color-grey-text;
    font-family: "TT Norms";

    user-select: none;
    @include md-min {
      font-size: 42px;
      text-align: right;
    }

    @include md {
      display: none;
      font-size: 14px;
line-height: 17px;
letter-spacing: 1px;
text-transform: uppercase;
width: min-content;
white-space: nowrap;
margin-bottom: 10px;
    }

    &.active {
      background-clip: text;
      text-fill-color: transparent;

     
      @include md-min {
        background: linear-gradient($bg-gradient2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &::after {
          content: "";
          position: absolute;
          z-index: 2;
          width: 4px;
          height: 100%;
          background-color: $color-accent;
          right: -42px;
        }
      }
      @include md {
        display: block;
        background: linear-gradient($bg-gradient3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

      }
    }
  }

  &__notes {
    color: $color-white;

    flex-grow: 3;
    flex-basis: 0;
    display: flex;
    align-items: center;
  }

  &__note {
    position: absolute;
    z-index: 9999;
    opacity: 0;

    &.active {
      position: static;
      z-index: inherit;
      opacity: 1;
    }
  }

  &__title {
    
    margin-bottom: $gap;

    @include md-min {
      font-size: 32px;
    }
    @include md {
      font-size: 22px;
      margin-bottom: 15px;
    }
  }

  &__description {

    line-height: 1.43;

    @include md-min {
      font-size: 21px;
    }
    @include md {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__indicators {
    display: flex;
    justify-content: center;
    gap: 14px;
  }

  &__indicator {
    width: $size;
    height: $size;
    opacity: 0.2;
    border-radius: $size * 0.5;
    background-color: $color-active;

    @include md-min {
      display: none;
    }

    &.active {
      opacity: 1;
    }
  }
}
