@use "../../../presets" as *;
@use "../../../mixins" as *;

$size: 16px;

.about-main {
  position: relative;
}

.about-us {
  @extend %container;
  display: flex;
   gap: 40px;

  @include sm-min {
    margin: 0 120px;
    padding-bottom: 100px;
  }

  @include sm {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 40px;
  }
}

.mission {
  display: flex;
  flex-direction: column;

  gap: 20px;

  @include sm-min {
    flex-basis: 640px;
  }

  @include sm {
    padding-bottom: 15px;
  }
  &__title {
    font-size: 42px;
    line-height: 50px;
    background: linear-gradient(90.13deg, #f0145a 40%, #ef8080 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include sm {
      font-size: 32px;
      line-height: 38px;
    }
  }

  &__description {
    font-size: 21px;
    line-height: 30px;

    @include sm {
      font-size: 18px;
      line-height: 26px;
    }
  }
}

.advantages {
  display: flex;
  flex-direction: column;

  @include sm-min {
  }

  @include sm-min {
    border-left: 4px solid #e6e6f0;
    gap: 40px;
    flex-basis: 390px;
  }
  @include sm {
    border-top: 4px solid #e6e6f0;
    gap: 20px;
  }
}

.advantage {
  padding-top: 15px;

  @include sm-min {
    margin-left: 20px;
  }

  &__description {
    font-size: 18px;
    line-height: 21px;
    color: #323264;

    @include sm {
      font-size: 18px;
      line-height: 21px;
    }
  }
}

.banner {
  background-image: url(../img/banner.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px 20px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 80px;

  @include sm {
    margin-bottom: 20px;
  }
  &__title {
    font-weight: 700;
    font-size: 96px;
    line-height: 113px;

    letter-spacing: 63px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    opacity: 0.8;
    text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);

    @include sm {
      font-size: 36px;
line-height: 42px;
letter-spacing: 20px;
word-wrap: break-word;
    }
  }
}

.quality {

  @extend %container;
  display: flex;
  gap: 40px;


@include sm-min {
  margin: 0 120px;
  padding-bottom: 100px;
}

  @include sm {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include sm-min {
      flex-basis: 640px;
    }

    &-description {
      font-size: 21px;
      line-height: 30px;

      @include sm {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  &__title {
    display: flex;
  
    font-size: 42px;
    line-height: 50px;
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include sm-min {
      flex-basis: 415px;
    } 

    @include sm {
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.achievements {
  background-color: #f5f5fa;
  border-radius: 12px 12px 0px 0px;

  &__container {
    @extend %container;
  }
  &__title {
    line-height: 17px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
    padding: 30px;
  }

  &__grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);

    &-image {
      width: 100%;
    }
    @include sm {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

.achievement__item-xs {
  @include sm {
    display: none;
  }
}
.slider {
  &__indicators--about {
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 14px;
  }

  &__indicator--about {
    width: $size;
    height: $size;

    opacity: 0.2;
    border-radius: $size * 0.5;
    background-color: $color-active;

    &.active {
      opacity: 1;
    }
  }
}

.achievement__slider-xs {
  @include sm-min {
    display: none;
  }
}
