
$color-primary: #323264;
$color-alt: #46466E;
$color-soft: #686887;

$color-accent: #F0145A;

$color-active: #24A3FF;
$color-alt: #0085FF;
$color-soft: #006CCF;

$color-grey-bg: #F5F5FA;
$color-grey-bg-alt: #EDEDF7;
$color-grey-text: #B3B3BA;
$color-grey-separator: #E6E6F0;

$color-white: #ffffff;
$color-black: #000000;

$bg-gradient1: 42deg, $color-primary 14%, $color-primary 51%, #7A425E 88%;


$mobile-menu-size: 170px;