@use "../../../presets" as *;
@use "../../../mixins" as *;

.publications {
  position: relative;

  background-color: #f5f5fa;

  padding-bottom: 40px;
  overflow: hidden;

  @include xs-min {
    height: 860px;
    padding-top: 40px;
  }

  @include xs {
    padding-top: 20px;
  }

  &::after {
    @include xs-min {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 200px;

      background: linear-gradient(
        180deg,
        rgba(245, 245, 250, 0) 0%,
        #f5f5fa 86.5%
      );
    }
  }

  &__container {
    @extend %container;

  }

  &__header {
    @include xs-min {
      padding-bottom: 40px;
    }
    @include xs {
      padding-bottom: 20px;
    }
    &-link {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #24a3ff;
    }

    &-img {
      position: relative;
      top: 0.9px;
      left: 5px;
    }
    &-title {
      font-weight: 700;
      font-size: 42px;
      line-height: 50px;
      background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @include sm {
        font-size: 34px;
      }
    }
  }

  &__items {
    column-count: 3;
    column-gap: 40px;

    @include md {
      column-count: 2;
      column-gap: 20px;
    }

    @include xs {
      column-count: 1;
    }
  }

  &__actions {
    position: absolute;

    @include xs-min {
      left: 0;
      right: 0;
      bottom: 40px;
      z-index: 1;
      display: flex;
      justify-content: center;
    }

    @include xs {
      position: relative;
      margin: 0 auto;
    }
  }

  &__button {
    display: inline-block;
    min-width: 250px;
    min-height: 50px;
    padding: 3px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    border: 1px solid #24a3ff;
    border-radius: 12px;
    background-color: #24a3ff;
    box-shadow: 0 0 20px rgb(36 163 255 / 50%);
    font-weight: 700;
  }
}

.xs-invisible {
  @include xs {
    display: none;
  }
}
